@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .active {
    @apply text-primary;
  }
}
body{
  cursor: url("https://res.cloudinary.com/dcwwptwzt/image/upload/v1746468180/Cursor_fl2xu1.png"), pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
}

